@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
.header{
  padding: 0 3em 0 3em;
}
.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}
h2{
  
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}
.info-box{
  background-color: rgb(255, 255, 255);
  box-shadow: grey -0.04em 0.04em 2px ;
  
}

.red{
  color: rgb(175, 33, 52);
}
.green{
  color: rgb(84, 204, 110);
}
p{
  line-height: 7px;
}
ul{
  list-style: none;
}
.green-box{
  box-shadow:rgb(84, 204, 110) 5px 0px 0px; 
}
.red-box{
  box-shadow:rgb(175, 33, 52) 5px 0px 0px; 
}
input{ 
  width: 100%;
  border-radius: 1px;
  border-width: 0em;
  box-shadow: grey 0 0 1px;
}
.button{
  background-color:#8876e0;
  color:white;
}